@font-face {
    font-family: 'Light Novel POP';
    src: url(LightNovelPOPv2.otf), format('opentype');
    font-display: swap;
}

@font-face {
    font-family: 'Corporate Logo Bold';
    src: url(Corporate-Logo-Bold-ver3.ttf), format('truetype');
    font-display: swap;
}

* {
    font-family: 'Corporate Logo Bold', Arial, sans-serif;
    box-sizing: border-box;
}

html {
    background-color: #76f3cd;
    box-sizing: border-box;
}

header,
main,
footer {
    background-color: #abe4d3;
    color: #004c06;
    filter: drop-shadow(0px 0px 7px rgba(0, 0, 0, 0.7)) drop-shadow(0px 1px 5px rgba(227, 150, 6, 0.4));
    padding: 1rem 1.5rem;
    margin: 2rem auto;
    max-width: 960px;
    border-radius: 10px;
}

::selection {
    color: #abe4d3;
    background: #37a383;
}

::-moz-selection {
    color: #abe4d3;
    background: #37a383;
}

h1 {
    font-family: 'Light Novel POP', sans-serif;
    color: #004c06;
    text-decoration: none;
}

input {
    color: #004c06;
    background-color: #abe4d3;
    padding: 0.5rem;
    border-radius: 5px;
    box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.6) inset;
    border: 1px solid #004c06;
    margin: 0.5rem;
}

textarea {
    color: #004c06;
    background-color: #abe4d3;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 5px;
    box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.6) inset;
    border: 1px solid #004c06;
    vertical-align: top;
    width: 20rem;
    height: 3rem;
}

button {
    color: #004c06;
    background-color: #47a78a;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.6);
    border: 1px solid #004c06;
    margin: 0.5rem;
    transition: color 0.3s ease, background-color 0.3s ease;
}

button:active {
    color: #abe4d3;
    background-color: #76f3cd;
}

a {
    color: #47a78a;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #004c06;
}