/* サイドメニューのスタイル */
#asideMenu {
    position: fixed;
    right: calc(-100% - 4rem);
    top: 0;
    width: 100dvw;
    height: 100dvh;
    background-color: #e6f0ff; /* 明るい水色背景 */
    color: #0a2540; /* 濃い青みのテキスト */
    transition: right 1s ease;
    padding: 1rem 3rem 1rem 2rem;
    z-index: 1001;
    filter: drop-shadow(0px 0px 16px rgba(0, 0, 0, 0.6));
    overflow: scroll;
}

/* サイドメニュー内のコンテンツ */
#asideMenu h2,
#asideMenu h3 {
    color: #0a2540;
}

#asideMenu #noticeContainer {
    margin-top: 20px;
}

/* メニューボタン */
#menuButton {
    position: fixed;
    top: 20px;
    right: -2rem;
    cursor: pointer;
    font-size: 2rem;
    color: #3498db;
    background: #ffffff;
    border: none;
    box-shadow: none;
    z-index: 1000;
    transition: right 2s ease, background 1s ease;
    filter: drop-shadow(0px 0px 16px rgba(0, 0, 0, 0.6));
    padding-right: 2rem;
    border-radius: 5px;
}

/* メニューを閉じるボタン */
#closeButton {
    position: fixed;
    top: 20px;
    right: -100%;
    cursor: pointer;
    font-size: 2rem;
    color: #3498db;
    background: transparent;
    border: none;
    box-shadow: none;
    z-index: 1003;
    transition: right 1s ease, transform 1s ease 0.5s;
    transform: rotate(180deg);
}

/* サイドメニューが表示されている時の位置 */
#asideMenu.open {
    right: 0;
}

#menuButton.open {
    background: rgba(255, 255, 255, 0);
}

#closeButton.open {
    right: 2rem;
    transform: rotate(0);
}

.notice-item {
    margin: 0;
    margin-block-start: 0;
}

body.no-scroll {
    overflow: hidden;
}

/* ナビゲーション全体 */
nav {
    width: 100%;
    margin: 2rem 0;
}

nav ul {
    width: 100%;
    padding: 0;
    list-style: none;
    gap: 0.5rem;
}

nav li {
    display: flex;
    width: 100%;
}

nav li ul li {
    width: 100%;
}

nav li ul li a::before {
    content: '　\25B6';
}

/* 各リンクのスタイル */
nav a {
    display: block;
    min-width: 40%;
    padding: 0.5rem;
    text-align: left;
    background-color: #3498db;
    color: #ffffff;
    transition: color 0.3s ease, background-color 0.3s ease;
}

/* アイコン（<i>タグ）スタイル */
nav i {
    color: #ffffff;
    transition: color 0.3s ease;
}

/* ホバー時のリンクとアイコン */
nav a:hover {
    background-color: #21618c;
    color: #ffffff;
}

nav a:hover i {
    color: #ffffff;
}

/* レスポンシブ対応 */
@media (max-width: 960px) {
    nav a {
        min-width: 50%;
    }
}

@media (max-width: 428px) {
    nav li {
        flex-wrap: wrap;
    }

    nav a {
        min-width: 100%;
        padding: 1rem;
    }

    #asideMenu {
        transition: right 0.3s ease;
    }

    #menuButton {
        top: 0;
        right: -2rem;
    }

    #closeButton {
        transition: right 0.5s ease, transform 0.5s ease 0.25s;
    }

    #closeButton.open {
        right: 0;
    }
}